Options +FollowSymlinks
RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ http://www.glitchwrks.com/vintage.html [R=permanent,L]
RewriteRule ^walnutcreek\.html$ http://www.glitchwrks.com/2010/10/25/Walnut-Creek-CPM/index.html [R=permanent,L]
RewriteRule ^xtideflash\.html$ http://www.glitchwrks.com/2010/12/16/XTIDE/index.html [R=permanent,L]
RewriteRule ^a2cpm.*$ http://www.glitchwrks.com/2010/11/09/48-Hours-Apple-IIe/index.html [R=permanent,L]
RewriteRule ^s100/dajen.*$ http://www.glitchwrks.com/2011/11/03/Dajen-SCI/index.html [R=permanent,L]
RewriteRule ^s100/debugboard.*$ http://www.glitchwrks.com/2011/09/01/Debug-Board/index.html [R=permanent,L]
RewriteRule ^s100/io2rom.*$ http://www.glitchwrks.com/2012/01/30/IO2-ROM-RAM/index.html [R=permanent,L]
RewriteRule ^s100.*$ http://www.glitchwrks.com/s100.html [R=permanent,L]
